.toast {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.toastPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 27px; }

.beans {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.beansPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 96px; }

.mash {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.mashPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 169px; }

.mini {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.miniPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 237px; }

.french {
  margin-left: 20px;
  width: 80%;
  height: 85px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.frenchPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 323px; }

.pizza {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.pizzaPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 420px; }

.nuggets {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.nuggetsPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 490px; }

.burger {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.burgerPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 560px; }

.spag {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.spagPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 630px; }

.spag a {
  text-decoration: none; }

.fish {
  margin-left: 20px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.fishPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  right: 20px;
  top: 700px; }

.garlic {
  position: absolute;
  background-color: white;
  top: 90px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.garlicPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.garlic a {
  text-decoration: none; }

.fries {
  position: absolute;
  background-color: white;
  top: 150px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.friesPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.wings {
  position: absolute;
  background-color: white;
  top: 210px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.wingsPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.squid {
  position: absolute;
  background-color: white;
  top: 270px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.squidPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.chips {
  position: absolute;
  background-color: white;
  top: 330px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.chipsPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.waffle {
  position: absolute;
  background-color: white;
  top: 390px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.wafflePrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.waffle a {
  text-decoration: none; }

.spicy {
  position: absolute;
  background-color: white;
  top: 450px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.spicyPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.sweetcorn {
  position: absolute;
  background-color: white;
  top: 510px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.sweetcornPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

.beef {
  position: absolute;
  background-color: white;
  top: 570px;
  margin-left: 20px;
  width: 80%;
  height: 45px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 15px; }

.beefPrice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  bottom: 13px;
  right: -105px; }

@media screen and (max-width: 1024px) {


  .mini {
    margin-left: 20px;
    margin-top: 14px; }

  .miniPrice {
    top: 237px; }

  .french {
    margin-left: 20px;
    margin-top: 50px; }

  .frenchPrice {
    top: 323px; }

   }

@media screen and (max-width: 375px) {

  .toast {
    margin-left: 7px;
    margin-top: 15px; }

  .toastPrice {
    top: 14px; }

  .beans {
    margin-left: 7px;
    margin-top: 15px; }

  .beansPrice {
    top: 73px; }

  .mash {
    margin-left: 7px;
    margin-top: 15px; }

  .mashPrice {
    top: 130px; }

  .mini {
    margin-left: 7px;
    margin-top: 15px; }

  .miniPrice {
    top: 214px; }

  .french {
    margin-left: 7px;
    margin-top: 26px; }

  .frenchPrice {
    top: 308px; }

  .pizza {
    margin-left: 7px;
    margin-top: 15px; }

  .pizzaPrice {
    top: 367px; }

  .nuggets {
    margin-left: 7px;
    margin-top: 15px; }

  .nuggetsPrice {
    top: 425px; }

  .burger {
    margin-left: 7px;
    margin-top: 15px; }

  .burgerPrice {
    top: 484px; }

  .spag {
    margin-left: 7px;
    margin-top: 15px; }

  .spagPrice {
    top: 545px; }

  .fish {
    margin-left: 7px;
    margin-top: 15px; }

  .fishPrice {
    top: 602px; }

  .donut {
    margin-left: 8px;
    margin-top: 15px; }

  .donutPrice {
    right: 20px;
    top: 45px; }

  .berry {
    margin-left: 8px;
    margin-top: 0; }

  .berryPrice {
    right: 20px;
    top: 129px; }

  .kiss {
    margin-left: 8px;
    margin-top: 20px; }

  .kissPrice {
    right: 20px;
    top: 200px; }

  .cheese {
    margin-left: 8px;
    margin-top: 9px; }

  .cheesePrice {
    top: 295px; }

  .garlic {
    top: 74px;
    margin-left: 7px;
    margin-top: 0px; }

  .garlicPrice {
    bottom: 18px;
    right: -66px; }

  .fries {
    top: 110px;
    margin-left: 7px;
    margin-top: 15px; }

  .friesPrice {
    bottom: 13px;
    right: -66px; }

  .wings {
    top: 160px;
    margin-top: 15px;
    margin-left: 7px; }

  .wingsPrice {
    bottom: 13px;
    right: -57px; }

  .squid {
    top: 217px;
    margin-top: 15px;
    margin-left: 7px; }

  .squidPrice {
    bottom: 13px;
    right: -57px; }

  .chips {
    top: 277px;
    margin-top: 15px;
    margin-left: 7px; }

  .chipsPrice {
    bottom: 20px;
    right: -57px; }

  .waffle {
    top: 334px;
    margin-left: 7px;
    margin-top: 15px; }

  .wafflePrice {
    bottom: 20px;
    right: -57px; }

  .spicy {
    top: 390px;
    margin-left: 7px;
    margin-top: 15px; }

  .spicyPrice {
    bottom: 20px;
    right: -57px; }

  .sweetcorn {
    top: 448px;
    margin-left: 7px;
    margin-top: 15px; }

  .sweetcornPrice {
    bottom: 20px;
    right: -57px; }

  .beef {
    top: 502px;
    margin-left: 7px;
    margin-top: 15px; }

  .beefPrice {
    bottom: 20px;
    right: -57px; } }

/*# sourceMappingURL=kids.css.map */
