@import 'variables';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $mainColour;
}

.pageContainer {
    max-width: 100%;
    height: 1100px;
    margin: 0 auto;
}

h1 {
    @include h1;
}

h3 {
    @include h3;
}

h5 {
    @include h5;
}

#logo {
    width: 730px;
    height: 330px;
    position: relative;
    float: left;
    left: 38px;
    top: 50px;
}

#nav{
    width: 1050px;
    height: 100px;
    position: relative;
    float: right;
    right: 30px;
    top: 100px;
}

#nav a {
    text-align: center;
    width: 209.6px;
    font-family: $navFont;
    float: left;
    color: $mainColour;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 45px;
    background-color: $basicColour;
    border-radius: $tabRadius;
    border: 1px solid $mainColour;
}

#nav a.active {
    background-color: $secondaryColour;
}

//---------------------------------

#menu {
    width: 1045px;
    height: 952px;
    position: relative;
    float: right;
    right: 33px;
    top: 100px;
    background-color: $basicColour;
}

.cab {
    margin-left: 20px;
    width: 80%;
    height: 85px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.cabPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top: 47px;
}

.fish {
    margin-left: 20px;
    width: 80%;
    height: 85px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.fishPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top:160px;
}

.steak {
    margin-left: 20px;
    width: 80%;
    height: 85px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.steakPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top:270px;
}

.salmon {
    margin-left: 20px;
    width: 80%;
    height: 50px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.salmonPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top: 360px;
}

.bacon {
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
    height: 90px;
    background-color: $basicColour;
    margin-top: 35px;
    padding-top: 5px;
    padding-left: 15px;
}

.baconPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top: 459px;
}

.bacon a {
    text-decoration: none;
}

.buttermilk {
    margin-left: 20px;
    width: 80%;
    height: 85px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.buttermilkPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top: 575px;
}

.pizza {
    margin-left: 20px;
    width: 80%;
    height: 85px;
    background-color: $basicColour;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.pizzaPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    right: 20px;
    top: 692px;
}

//---------------------------------

#snacks{
    width: 728px;
    height: 750px;
    position: relative;
    float: left;
    left: 53px;
    bottom: 699px;
    background-color: $basicColour;
}

#snacksTitle {
    width: 740px;
    height: 100px;
    position: absolute;
    left: -1px;
}

#snacksTitle a {
    width: 730px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    float: left;
    color: $mainColour;
    padding: 14px 61px 16px;
    text-decoration: none;
    font-size: 45px;
    background-color: $basicColour;
    border-radius: $tabRadius;
    border: 1px solid $mainColour;
}

#snacksTitle a.active {
    background-color: $secondaryColour;
}

button {
    border: 2px dashed $mainColour;
    padding: 4px 4px 4px 4px;
    position: relative;
    top: 650px;
    float: left;
    left: 215px;
    font: 40px $navFont;
    background-color: white;
}

//---------------------------------

.garlic {
    position: absolute;
    background-color: $basicColour;
    top: 90px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.garlicPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

.garlic a {
    text-decoration: none;
}

//---------------------------------

.fries {
    position: absolute;
    background-color: $basicColour;
    top: 150px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.friesPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.wings {
    position: absolute;
    background-color: $basicColour;
    top: 210px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.wingsPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.squid {
    position: absolute;
    background-color: $basicColour;
    top: 270px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.squidPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.chips {
    position: absolute;
    background-color: $basicColour;
    top: 330px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.chipsPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.waffle {
    position: absolute;
    background-color: $basicColour;
    top: 390px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.wafflePrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

.waffle a {
    text-decoration: none;
}

//---------------------------------

.spicy {
    position: absolute;
    background-color: $basicColour;
    top: 450px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.spicyPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.sweetcorn {
    position: absolute;
    background-color: $basicColour;
    top: 510px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.sweetcornPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

.beef {
    position: absolute;
    background-color: $basicColour;
    top: 570px;
    margin-left: 20px;
    width: 80%;
    height: 45px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
}

.beefPrice {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basicColour;
    bottom: 13px;
    right: -105px;
}

//---------------------------------

@media screen and (max-width: 1024px){
    .pageContainer {
        height: 1300px;
    }
    
    #logo {
        left: 105px;
        top: 5px;
    }
    
    #nav{
        width: 866px;
        height: 97px;
        float: left;
        left: 77px;
        top: 10px;
    }

    #nav a {
        width: 173.2px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 37px;
    }
    
    button {
        border: 2px dashed $mainColour;
        padding: 6px 6px 6px 6px;
        top: -100px;
        left: 293px;
    }
    
    #menu {
        height: 763px;
        width: 864px;
        float: left;
        left: 78px;
        top: 10px;
    }
    
    #snacks{
        width: 864px;
        height: 658px;
        bottom: -23px;
        left: 76px;
        margin-bottom: 20px;
    }
    
    #snacksTitle {
        width: 866px;
    }
    
    #snacksTitle a {
        width: 866px;
        padding: 14px 61px 16px;
        font-size: 45px;
    }
}


@media screen and (max-width: 375px) {
      h1 {
        font-family: "Carrois Gothic", sans-serif;
        font-size: 20px; }

      h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px; }

      h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px; }
    
        button {
        font-size: 28px;
        top: -67px;
        left: 73px;}
    //---------------------------------

      .pageContainer {
        background-color: black;
        height: 647px; }

      #logo {
        width: 370px;
        height: 205px;
        left: -6px;
        top: 5px; }

      #logo img {
        width: 379px;
        height: 200px; }

      #nav {
        width: 374px;
        height: 68px;
        left: 1px;
        top: 5px; }

      #nav a {
        width: 74.7px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px; }

    //---------------------------------

      #menu {
            width: 371px;
            height: 682px;
            left: 2px;
            top: 5px; }

        .cab {
            margin-left: 7px;
            margin-top: 15px;
        }

        .cabPrice {
            top: 47px;
        }

        .fish {
            margin-left: 7px;
            margin-top: 0px;
        }

        .fishPrice {
            top:125px;
        }

        .steak {
            margin-left: 7px;
            margin-top: 10px;
        }

        .steakPrice {
            top: 225px;
        }

        .salmon {
            margin-left: 7px;
            margin-top: 22px;
        }

        .salmonPrice {
            top: 300px;
        }

        .bacon {
            margin-top: 5px;
            margin-left: 7px;
        }

        .baconPrice {
            top: 388px;
        }

        .buttermilk {
            margin-left: 7px;
            margin-top: 15px;
        }

        .buttermilkPrice {
            top: 515px;
        }

        .pizza {
            margin-left: 7px;
            margin-top: 40px;
        }

        .pizzaPrice {
            top: 618px;
        }
        
    //---------------------------------

       #snacks {
        width: 371px;
        height: 562px;
        top: 84px;
        left: 2px;
        margin-bottom: 2px; }

      #snacksTitle {
        width: 374px;
        height: 68px; }

      #snacksTitle a {
        width: 373px;
        height: 68px;
        font-size: 28px; }

      .donut {
        margin-left: 8px;
        margin-top: 15px; }

      .donutPrice {
        right: 20px;
        top: 45px; }

      .berry {
        margin-left: 8px;
        margin-top: 0; }

      .berryPrice {
        right: 20px;
        top: 129px; }

      .kiss {
        margin-left: 8px;
        margin-top: 20px; }

      .kissPrice {
        right: 20px;
        top: 200px; }

      .cheese {
        margin-left: 8px;
        margin-top: 9px; }

      .cheesePrice {
        top: 295px; }

      .garlic {
        top: 74px;
        margin-left: 7px;
        margin-top: 0px; }

      .garlicPrice {
        bottom: 18px;
        right: -66px; }

      .fries {
        top: 110px;
        margin-left: 7px;
        margin-top: 15px; }

      .friesPrice {
        bottom: 13px;
        right: -66px; }

      .wings {
        top: 160px;
        margin-top: 15px;
        margin-left: 7px; }

      .wingsPrice {
        bottom: 13px;
        right: -57px; }

      .squid {
        top: 217px;
        margin-top: 15px;
        margin-left: 7px; }

      .squidPrice {
        bottom: 13px;
        right: -57px; }

      .chips {
        top: 277px;
        margin-top: 15px;
        margin-left: 7px; }

      .chipsPrice {
        bottom: 20px;
        right: -57px; }

      .waffle {
        top: 334px;
        margin-left: 7px;
        margin-top: 15px; }

      .wafflePrice {
        bottom: 20px;
        right: -57px; }

      .spicy {
        top: 390px;
        margin-left: 7px;
        margin-top: 15px; }

      .spicyPrice {
        bottom: 20px;
        right: -57px; }

      .sweetcorn {
        top: 448px;
        margin-left: 7px;
        margin-top: 15px; }

      .sweetcornPrice {
        bottom: 20px;
        right: -57px; }

      .beef {
        top: 502px;
        margin-left: 7px;
        margin-top: 15px; }

      .beefPrice {
        bottom: 20px;
        right: -57px; } 
}





